extends ./layout/index

block search
    form(method="get" action="/list").search-form
        fieldset
            legend 전체 키워드 검색 란
            label(for="searchInput").search-form__label
                span(class="glyphicon glyphicon-search")
            input(type="text" id="searchInput" placeholder="키워드를 입력해주세요.").search-form__input

block content
    div#bf-contents
        h2.hide 메인 리스트
        article.gallery-list--simple
            h3.gallery-list--simple__title Recent Posts
            ul.gallery-list--simple__list
                each val in [{href:"/board/gallery/1/view",name:"전체",src:"/images/g1.jpg",title:"갤러리1",date:"2019.10.01"},{href:"/board/gallery/2/view",name:"자유",src:"/images/g2.jpg",title:"갤러리2",date:"2019.10.02"},{href:"/board/gallery/3/view",name:"갤러리",src:"/images/g3.jpg",title:"갤러리3",date:"2019.10.03"},{href:"/board/gallery/4/view",name:"자유",src:"/images/g2.jpg",title:"갤러리2",date:"2019.10.04"},{href:"/board/gallery/5/view",name:"갤러리",src:"/images/g3.jpg",title:"갤러리3",date:"2019.10.05"}]
                    li
                        a(href= val.href,title= val.name)
                            p
                                img(src= val.src, alt= val.title)
                            strong.gallery-list--simple__category= val.name
                            p.gallery-list--simple__subject= val.title
                            em.gallery-list--simple__date= val.date
        div.bf-list-wrap.clearfix
            section.detail-list
                h2.hide 리스트 상세정보
                article.gallery-list--detail
                    h3.hide Recent Posts
                    div.gallery-list--detail__list
                        each val in [{href:"/board/gallery/1/view",name:"전체",src:"/images/g1.jpg",title:"제목1",desc:"상세설명"},{href:"/board/gallery/2/view",name:"자유",src:"/images/g2.jpg",title:"제목2",desc:"상세설명"},{href:"/board/gallery/3/view",name:"갤러리",src:"/images/g3.jpg",title:"제목3",desc:"상세설명"}]
                            a(href= val.href,title= val.name)
                                dl
                                    dt.gallery-list--detail__title
                                        strong= val.title
                                    dd.gallery-list--detail__info
                                        p
                                            img(src= val.src, alt= val.title)
                                        p.gallery-list--detail__desc--main= val.desc
                                        ul.clearfix
                                            li.gallery-list--detail__category= val.name

                                            li.gallery-list--detail__button Read More
            section.quick-list
                h2.hide 퀵 리스트
                article.gallery-list--popular
                    h3.gallery-list--popular__title Popular Posts
                    div.gallery-list--popular__list
                        each val in [{href:"/board/gallery/1/view",name:"전체",src:"/images/g1.jpg",title:"제목1"},{href:"/board/gallery/2/view",name:"자유",src:"/images/g2.jpg",title:"제목2"},{href:"/board/gallery/3/view",name:"갤러리",src:"/images/g3.jpg",title:"제목3"},{href:"/board/gallery/4/view",name:"자유",src:"/images/g2.jpg",title:"제목4"},{href:"/board/gallery/5/view",name:"갤러리",src:"/images/g3.jpg",title:"제목5"}]
                            a(href= val.href,title= val.name)
                                dl.clearfix
                                    dt
                                        strong= val.title
                                    dd
                                        p
                                            img(src= val.src, alt= val.title)
                article.quick-list--sns
                    h3.quick-list--sns__title SNS
                    div.quick-list--sns__detail
                article.quick-list--Category
                    h3.quick-list--Category__title Category
                    div.quick-list--Category__detail
                        ul
                            each val in [{href:"/board/gallery/1",title:"제목1",param:"1",reply:"1"},{href:"/board/gallery/2",title:"제목2",param:"2",reply:"2"},{href:"/board/gallery/3",title:"제목3",param:"3",reply:"3"}]
                                li.clearfix
                                    a(href= val.href, title= val.title)
                                        strong= val.title
                                        span (#{val.reply})
