doctype html
html(lang="ko")
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='Author' content='BF')
        meta(name='Keywords' content='BF, bicycle, friends, bicycle friends, bicycle community, community')
        meta(name='Description' content='국내 최대 자전거 커뮤니티 포털 BF')
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/main.css')
        script(src='/bundle.js')
        block hlink
        block hscript
    body
        div#bf-wrap
            block header
                header#bf-header
                    div.bf-header
                        h1.bf-header__logo
                            a(href="/" title="홈으로 바로가기") BF
                        nav.header-navi
                            h2.hide BF 상단 메뉴
                            //- ul.header-navi__list
                                each val in [{href:"/board/lists/all",name:"전체"},{href:"/board/lists/free",name:"자유"},{href:"/board/gallery",name:"갤러리"}]
                                    li
                                        a(href= val.href)= val.name
                            block search

            block content

            block footer
                footer#bf-footer
                    block category
                        section.category-info
                            h2.hide BF 전체 갤러리
                            each val in [{title:"Most Recent",list:[{href:"/board/gallery",name:"hit 갤러리"},{href:"/board/gallery",name:"개념 갤러리"}]},{title:"Most Popular",list:[{href:"/board/gallery",name:"hit 갤러리"},{href:"/board/gallery",name:"개념 갤러리"}]}]
                                dl.category-info__list
                                    dt= val.title
                                    dd
                                        ul
                                            each val2 in val.list
                                                li
                                                    a(href= val2.href)= val2.name
                            dl.category-info__list
                                dt SEARCH THIS BLOG
                                dd
                                    block search
                                        form(method="get" action="/list").search-form
                                            fieldset
                                                legend 전체 키워드 검색 란
                                                label(for="searchInput").search-form__label
                                                    span(class="glyphicon glyphicon-search")
                                                input(type="text" id="searchInput" placeholder="키워드를 입력해주세요.").search-form__input
                    div.company-info
                        ul.company-info__list
                            each val in [{href:"/company",name:"회사소개"},{href:"/company#partner",name:"제휴문의"},{href:"/company#contact",name:"광고문의"}]
                                li
                                    a(href= val.href)= val.name
                        address.company-info__detail
                            p
                                Copyright © 2019 #[strong.company-info__author Sumi]. All Rights Reserved.
